name: Production rollback

on:
  workflow_dispatch:

jobs:
  rollback:
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Run remote rollback
        env:
          DEPLOY_USER: ${{ secrets.DEPLOY_USER }}
          PROD_DEPLOY_HOST: ${{ secrets.PROD_DEPLOY_HOST }}
        run: |
          ssh -o StrictHostKeyChecking=no \
          $DEPLOY_USER@$PROD_DEPLOY_HOST "sudo /opt/deploy/rollback.sh"
